<div class="community-create-step-content-area">
  <h1 class="primary-community-heading h1">
    Awesome!<br />
    here's an overview.
  </h1>

  <div class="community-create-overview-info-area">
    <h3 class="community-create-overview-community-name h1">{{ communityName }}</h3>
    <h4 class="community-create-overview-url-heading">
      <span class="community-create-overview-url-heading-prefix">gitter.im/</span><span class="community-create-overview-url-heading-slug"></span>
    </h4>

    <a href="{{ githubLink }}" target="_blank" data-disable-routing="1" class="community-create-overview-github-link {{when githubLink '' 'hidden'}}">
      <i class="icon-github-circled"></i>
      <span class="community-create-overview-github-name">{{ githubName }}</span>
    </a>
  </div>



  <section class="community-create-progression-button-wrapper">
    <button class="community-create-back-button--constrained secondary-button-clouds js-community-create-step-back">
      Back
    </button>

    <button class="community-create-next-button--constrained button-caribbean js-community-create-step-next">
      Create and Finish
    </button>
  </section>

</div>
